/* page layout */

body {
  font-family: sans-serif;
  line-height: 2em;

  margin-left: 250px;
  margin-right: 50px;
  margin-bottom: 5em;
  max-width: 600px;
}

#header {
  text-align: center;
}

#header blockquote {
  font-style: italic;
}

#navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;

  max-width: 200px;
  padding: 1em;
  overflow: auto;
}

#footer {
  margin-top: 2em;
  text-align: right;
  font-size: small;
}


/* entry */

.entry {
  margin-bottom: 4em;
}

.entry .name {
  border-bottom: thin solid gray;
  font-size: x-large;
  font-weight: lighter;
}

.entry .name a {
  text-decoration: none;
}

.entry .toc {
  float: right;
  overflow: auto;
}

.entry .text {
}

.entry .info {
  border-top: thin dashed darkgray;
  font-size: small;
}



/* headings */

th, h1, h2, h3, h4, h5, h6, .title {
  font-family: serif;
}


/* source code */

tt {
  font-weight: bold;
  background-color: lemonchiffon;
}

pre, blockquote .code {
  padding: 1em;
  line-height: normal;
  overflow: auto;
  display: block;
}

pre {
  border: thin solid darkgray;
  background-color: whitesmoke;
}

.code {
  border: thin solid darkkhaki;
  background-color: ivory;
}


/* tables */

th, td {
  padding: 1em;
  border: thin solid silver;
}

th {
  background-color: whitesmoke;
}


/* other */

a img {
  border: none;
}

li {
  margin-left: -1.5em;
}
