/* page layout */

#menu {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;

  max-width: 200px;
  padding: 1em;
  overflow: auto;
}

body {
  font-family: sans-serif;
  line-height: 2em;

  margin-left: 275px;
  margin-right: 50px;
  margin-bottom: 50px;
  max-width: 600px;
}


/* header & footer */

#header {
  text-align: center;
  margin-bottom: 3em;
}

#header .name {
}

#header .info {
  font-style: italic;
}

#footer {
  text-align: right;
  font-size: small;
}


/* entry */

.entry {
  margin-bottom: 3em;
}

.entry .name {
  border-bottom: thin solid gray;
  font-size: x-large;
}

.entry .name a {
  text-decoration: none;
}

.entry .toc {
  float: right;
  overflow: auto;
  border-left: thin dashed silver;
  border-bottom: thin dashed silver;
  padding-left: 1em;
  margin-left: 1em;
}

.entry .toc ul {
  margin-top: 0px;
}

.entry .text {
}

.entry .text img {
  margin: 1em;
}

.entry .info {
  border-top: thin dashed darkgray;
  font-size: small;
}


/* headings */

th, h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  font-weight: lighter;
}

h1 {
  font-size: 1.75em;
}


/* source code */

tt {
  color: brown;
  background-color: floralwhite;
}

pre, blockquote .code {
  padding: 1em;
  line-height: normal;
  overflow: auto;
  display: block;
}

pre {
  border: thin solid darkgray;
  background-color: whitesmoke;
}

.code {
  border: thin solid darkkhaki;
  background-color: ivory;
}


/* tables */

th, td {
  padding: 1em;
  border: thin solid silver;
}

th {
  background-color: whitesmoke;
}


/* other */

a img {
  border: none;
}

#menu li, .entry .toc li {
  margin-left: -1.5em;
}

em, strong {
  font-family: serif;
}