<%
# = List of available variables
# * @blog   => data from the blog configuration file
# * @entry  => data from a blog entry file
%>

<div class="entry">

h1(name). <%= @entry.to_link %>

  <div class="text">

<%= @entry.text %>

  </div>

  <p class="info">
    Posted on <%= @entry.rss_date %>.<br/>
    Tagged as <%= @entry.tags.map {|t| t.to_link}.join ', ' %>.<br/>
  </p>
</div>
