<%
=begin
  This is a template for generating the recent/all lists of blog entries.

  The following variables are available for use in this template:
  * BLOG           => data from the blog configuration file
  * LANG           => data from the translation file
  * ENTRIES        => array of all blog entries (Entry objects)
  * RECENT_ENTRIES => array of recent blog entries (Entry objects)
  * TAGS           => array of all tags (Section objects)
  * ARCHIVES       => array of all archives (Section objects)
  * @list          => the EntryList object for which we are generating HTML
=end
%>
<h1><%= @list.name %></h1>

<br/>

<% @list.each do |entry| %>
  <%= entry.to_html %>
<% end %>
