<%
=begin
  This is a template for generating a top-level index.html file.

  The following variables are available for use in this template:
  * BLOG         => data from the blog configuration file
  * LANG         => interface to translation file
  * PAGES        => an array of all available static web pages
  * ENTRIES      => an array of all available blog entries
  * TAGS         => a Chapter containing one Section per tag
  * ARCHIVES     => a Chapter containing one Section per archive
  * CHAPTERS     => an array of Chapter objects
  * PAGE_INDEX   => a PageIndex object
  * ENTRY_INDEX  => a EntryIndex object
  * SEARCH_INDEX => a SearchIndex object
  * @title       => the title of this page
  * @content     => the content of this page
=end
%>

<h1><%= @title %></h1>

<p>This page lists all available blog entries in full length. Please search
<em>within</em> this page using your web browser's internal search
mechanism&mdash;which is typically activated by pressing the
<strong>forward slash</strong> key or by pressing the <strong>Control</strong>
and <strong>F</strong> keys simultaneously.</p>

<br/>

<%= @content %>
