<%
=begin
  This is a template for generating HTML for individual tags and archives.

  The following variables are available for use in this template:
  * BLOG        - data from the blog configuration file
  * LANG        - data from the translation file
  * ENTRIES     - array of all blog entries (Entry objects)
  * NEW_ENTRIES - array of recent blog entries (Entry objects)
  * TAGS        - array of all tags (Section objects)
  * ARCHIVES    - array of all archives (Section objects)
  * FEEDS       - array of all feeds (Feed objects)
  * @section    - the Section object for which we are generating HTML
=end

  if @section.parent == ARCHIVES
    nextWord = LANG['Newer']
    prevWord = LANG['Older']
  else
    nextWord = LANG['Next']
    prevWord = LANG['Previous']
  end

  nextItem = @section.next
  prevItem = @section.prev

  prevLink = prevItem.to_link(prevWord) if prevItem
  nextLink = nextItem.to_link(nextWord) if nextItem
%>

<div class="section">
  <h1 class="name"><%= @section.name %></h1>

  <div class="menu"><%= [prevLink, nextLink].compact.join(' | ') %></div>

  <% @section.each do |entry| %>
    <%= entry.to_html %>
  <% end %>
</div>
