body
{
    color                 : #000000;
    background-color      : #FFFFFF;
    line-height           : 1.5em;
    font-family           : Calibri, Verdana, sans-serif;
}

/* emphasis */

    blockquote
    {
        background-image  : url(../icons/tango-32x32-apps-internet-group-chat.png);
        background-repeat : no-repeat;
        padding-left      : 45px;
        margin-left       : 2em;
    }

    hr
    {
        height            : 0;
        border            : 0;
        border-top        : 2px solid #FF0000;
    }

/* source code */

    tt,
    code,
    pre
    {
        font-family       : Consolas, "Lucida Console", monospace;
    }

    tt
    {
        font-weight       : bold;
        color             : #A52A2A;
        background-color  : #FFFAF0;
    }

    /* output of the syntax coloring library */
    .code
    {
        background-color  : #FFFFF0;
    }

    pre
    {
        cursor            : text;
        line-height       : normal;
        border            : 1px dashed #C0C0C0;
        background-color  : #F5FFDF;
        padding           : 1em;
        overflow          : auto;
    }

/* hyperlinks */

    a > img
    {
        border            : none;
    }

    a img
    {
        _border           : none; /* for IE6 */
    }

    a.here:link,
    a.here:visited
    {
        color             : #000000;
    }

/* headings */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .name
    {
        font-weight       : lighter;
        font-family       : Constantia, "Book Antiqua", "URW Bookman L", serif;
    }

    .entry .body h1,
    .entry .body h2,
    .entry .body h3,
    .entry .body h4,
    .entry .body h5,
    .entry .body h6
    {
        margin-top        : 1.25em;
        line-height       : 1.25em;
    }

    .entry .body h1
    {
        font-size         : 2.0em;
    }

    .entry .body h2
    {
        font-size         : 1.8em;
    }

    .entry .body h3,
    .name
    {
        font-size         : 1.6em;
    }

    .entry .body h4
    {
        font-size         : 1.4em;
    }

    .entry .body h5
    {
        font-size         : 1.2em;
    }

    .entry .body h6
    {
        font-size         : 1.0em;
    }

/* tables */

    table
    {
        border-collapse   : collapse; /* no spacing between cell borders */
        margin       : auto; /* center horizontally */
    }

    th,
    td
    {
        padding           : 1em;
        border            : 1px solid #bbb;
        vertical-align    : top;
        background-color  : inherit;
        _background-color : #FFFFFF; /* for IE6 */
    }

    th
    {
        background-color  : #F5F5F5;
    }

/* styles for config/html.erb */

    .icon
    {
        vertical-align  : middle;
    }

    /* information about blog author and generator */
    .credits
    {
        margin-top      : 5em;
        text-align      : center;
    }

/* styles for config/entry.erb */

    .entry
    {
        margin-bottom   : 4em;
    }

    .entry-solo .info
    {
        margin-top      : 1em;
        border-top      : 1px dashed #808080;
        padding-top     : 1em;
    }

