/* page layout */

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 46em;

  color: #000000;
  background-color: #FFFFFF;
}

#menu {
  float: right;

  padding-right: 1em;
  padding-bottom: 2.5em;
  padding-left: 2.5em;
  max-width: 13em;

  background-color: inherit;
}

#header, #navigation, #content {
  margin-left: 1em;
  margin-right: 1em;
}


/* page structure */

#header, #navigation {
  text-align: center;
}

#header {
}

#header .name {
}

#header .info {
  font-style: italic;
}

#navigation {
  margin-top: 0.5em;
  padding-bottom: 2em;
}

#content {
}

#footer {
  margin-top: 5em;
  text-align: center;
  font-size: smaller;
  clear: both;
}


/* blog entry */

.entry {
  margin-bottom: 7em;
  max-width: 33em;
}

.entry .name {
  font-size: x-large;
}

.entry .name a {
  text-decoration: none;
}

.entry .toc { /* table of contents */
  margin-bottom: 2em;
}

.entry .toc ul {
  margin-top: 0;
}

.entry .text {
}

.entry .text img {
  margin: 1em;
}

.entry .more { /* the "Read more..." link */
}

.entry .info {
  font-size: small;
  border-top: thin dotted #000000;
  padding-top: 0.5em;
  padding-left: 0;
}

.entry .info li {
  list-style-type: none;
  margin-left: 0;
}


/* headings */

th, h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  font-weight: lighter;
}

.entry .text h1,
.entry .text h2,
.entry .text h3,
.entry .text h4,
.entry .text h5,
.entry .text h6 {
  margin-top: 2.5em;
  border-bottom: thin solid #C0C0C0;
}


/* source code */

tt {
  font-weight: bold;
  color: #A52A2A;
  background-color: #FFFAF0;
}

pre {
  padding: 1em;
  line-height: normal;
  overflow: auto;

  border: thin solid #A9A9A9;
  background-color: #F5F5F5;
}

.code {
  border: thin solid #BDB76B;
  background-color: #FFFFF0;
}


/* tables */

th, td {
  padding: 1em;
  border: thin solid #C0C0C0;
}

th {
  background-color: #F5F5F5;
}

table {
  margin-left: auto;
  margin-right: auto;
}


/* emphasis */

body {
  font-family: sans-serif;
}

em, blockquote {
  font-family: serif;
}

blockquote {
  border-left: thick solid #FA8072;
  background-color: #FFFAFA;
  padding-left: 1em;
  padding-right: 0.5em;
  margin-left: 0;
}

hr {
  background-color: #FF0000;
  border: none;
}

big {
  font-size: larger;
}


/* tag cloud */

.cloud {
}

.cloud li {
  display: inline;
  padding-right: 10px;
}

.cloud a {
  text-decoration: none;
}

.cloud a:hover {
  text-decoration: underline;
}


/* fix annoyances */

a img {
  border: none;
}

#menu li,
.entry .toc li {
  margin-left: -25px;
}
