/* page layout */

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
}

#menu {
  float: left;
  padding-left: 1em;
  max-width: 200px;
}

#content {
  margin-left: 225px;
  max-width: 600px;
  padding-right: 1em;
}


/* layout elements */

#header, #navigation {
  text-align: center;
}

#header .name {
}

#header .info {
  font-style: italic;
}

#navigation {
  padding-bottom: 2em; /* puts #menu and #content at same height */
}

#content {
}

#content > h1 { /* heading that comes just before everything in #content */
  margin-bottom: 1.5em;
}

#footer {
  margin-top: 5em;
  text-align: center;
  font-size: small;
  clear: both;
}


/* blog entry */

.entry {
  margin-bottom: 5em;
}

.entry .name {
}

.entry .name a {
  text-decoration: none;
}

.entry .index { /* table of contents */
  float: right;
  overflow: auto;
  border-left: thin dashed silver;
  border-bottom: thin dashed silver;
  padding-left: 1em;
  margin: 1em;
  max-width: 50%;
  background-color: white;
}

.entry .index ul {
  margin-top: 0px;
  padding-right: 0px;
}

.entry .text {
}

.entry .text img {
  margin: 1em;
}

.entry .info {
  text-align: right;
  border-top: thin dashed silver;
  font-size: small;
}


/* headings */

th, h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  font-weight: lighter;
}

.entry .text h1,
.entry .text h2,
.entry .text h3,
.entry .text h4,
.entry .text h5,
.entry .text h6 {
  margin-top: 2.5em;
  border-bottom: thin solid silver;
}


/* source code */

tt {
  font-weight: bold;
  color: brown;
  background-color: floralwhite;
}

pre {
  padding: 1em;
  line-height: normal;
  overflow: auto;

  border: thin solid darkgray;
  background-color: whitesmoke;
}

.code {
  border: thin solid darkkhaki;
  background-color: ivory;
}


/* tables */

th, td {
  padding: 1em;
  border: thin solid silver;
}

th {
  background-color: whitesmoke;
}


/* emphasis */

body {
  font-family: sans-serif;
}

em, strong, blockquote {
  font-family: serif;
}

blockquote {
  border-left: thick solid darkkhaki;
  background: beige;
  padding: 0.5em 1em 0.5em 1em; /* top right bottom left */
}

hr {
  background-color: red;
  border: none;
}

big {
  font-size: x-large;
}


/* fix annoyances */

a img {
  border: none;
}

#menu li, .entry .index li {
  margin-left: -1.5em;
}
