/* page layout */

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;

  color: black;
  background-color: white;
}

#menu {
  float: right;

  padding-right: 1em;
  margin-left: 2.5em;
  max-width: 200px;

  background-color: inherit;
}

#header, #navigation, #content {
  margin-left: 1em;
  margin-right: 1em;
}


/* page structure */

#header, #navigation {
  text-align: center;
}

#header {
}

#header .name {
}

#header .info {
  font-style: italic;
}

#navigation {
  padding-bottom: 2em;
}

#content {
}

#footer {
  margin-top: 5em;
  text-align: center;
  font-size: smaller;
  clear: both;
}


/* blog entry */

.entry {
  margin-bottom: 7em;
}

.entry .name {
}

.entry .name a {
  text-decoration: none;
}

.entry .toc { /* table of contents */
  margin-bottom: 3em;
}

.entry .toc ul {
  margin-top: 0px;
}

.entry .text {
  max-width: 600px;
}

.entry .text img {
  margin: 1em;
}

.entry .info {
  border-top: thin dashed gray;
  padding-top: 0.5em;
  font-size: smaller;
}


/* headings */

th, h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  font-weight: lighter;
}

.entry .text h1,
.entry .text h2,
.entry .text h3,
.entry .text h4,
.entry .text h5,
.entry .text h6 {
  margin-top: 2.5em;
  border-bottom: thin solid silver;
}


/* source code */

tt {
  font-weight: bold;
  color: brown;
  background-color: floralwhite;
}

pre {
  padding: 1em;
  line-height: normal;
  overflow: auto;

  border: thin solid darkgray;
  background-color: whitesmoke;
}

.code {
  border: thin solid darkkhaki;
  background-color: ivory;
}


/* tables */

th, td {
  padding: 1em;
  border: thin solid silver;
}

th {
  background-color: whitesmoke;
}


/* emphasis */

body {
  font-family: sans-serif;
}

em, blockquote {
  font-family: serif;
}

blockquote {
  border-left: thick solid darkkhaki;
  background: beige;
  padding: 0.5em 1em 0.5em 1em; /* top right bottom left */
}

hr {
  background-color: red;
  border: none;
}

big {
  font-size: larger;
}


/* fix annoyances */

a img {
  border: none;
}

#menu li, .entry .toc li {
  margin-left: -1.5em;
}
