@import 'screen.css';

/* source code */

    tt
    {
        color            : inherit;
        background-color : inherit;
        font-weight      : normal;
    }

    pre,
    .code
    {
        border           : none;
        overflow         : visible;
        background-color : inherit;
    }


/* headings */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    th
    {
        font-weight      : normal;
    }


/* hyperlinks */

    a:link,
    a:visited,
    a:active
    {
        color            : #0000FF;
        font-weight      : bold;
        text-decoration  : underline;
    }

    .name a
    {
        font-weight      : normal;
        text-decoration  : none;
    }

    a:after
    {
        content          : " " attr(href);
        font-family      : Consolas, "Lucida Console", monospace;
        font-weight      : normal;
        font-size        : 90%;
    }

    .name a:after,
    .menu a:after,
    .chapter .cloud a:after,
    .entry .info a:after,
    .entry .more a:after,
    a[href^="#"]:after
    {
        content          : "";
    }

    a[href^="#"]
    {
        color            : #A52A2A;
        font-weight      : lighter;
        text-decoration  : none;
        font-style       : italic;
    }

    a.toc-link
    {
        color            : inherit;
        .color           : #000000; /* for IE6 and IE7 */
        font-weight      : inherit;
        text-decoration  : none;
        font-style       : normal;
    }


/* page layout */

    body,
    #content,
    #links
    {
        max-width        : none;
    }

    #header,
    #navigation,
    #links,
    .menu
    {
        display          : none;
    }


/* styles for config/entry.erb */

    .entry > .name
    {
        font-size        : 2em;
    }

    .entry .text
    {
        max-width        : none;
    }

